# misc backup files
*.aux
*.tmp
*.old
*.bak

# misc data
*.html
*.step
*.stp
*.log
*.zip
*.txt
*.htm
*.raw

# Mentor Xpedition
*.drc
*.apr
*.APR_LIB
*.EXTREP
*.cdb
/db
LogFiles
OLE
HighSpeed
ForwardAnnotation
cdbback
BackupDatabase
ProjectBackup
Orpal
Template.prj
si_cache

# gerbers/bom/xy etc
*.GB?
*.GM?
*.GT?
*.REP
*.RUL
*.DRR
*.LDP
*.csv
*.G?
*.GP?
*.BOM
*.cam

# Altium
*.PrjPCBStructure
*.PcbDocPreview
*.SchDocPreview
History/
Project Outputs for */
Project Logs for */
__Previews

# ???
FPGA_ARTM
