*.log
*.zip
*.txt
*.htm
*.PcbDocPreview
*.SchDocPreview
/History
*.drc
*.html
*.PrjPcbStructure
*.GBL
*.step
*.stp
*.APR_LIB
*.EXTREP
*.GBO
*.GBS
*.GPB
*.GM1
*.GTL
*.GTO
*.GTP
*.GTS
*.REP
*.RUL
*.apr
*.DRR
*.LDP
*.csv
*.G1
*.G2
*.G3
*.G4
*.G5
*.G6
*.G7
*.G8
*.GP1
*.GP2
*.GP3
*.GP4
*.GP5
*.GP6
*.GP7
*.GP8
*.GP9
*.BOM
*.cam
*.cdb
/db
LogFiles
*.aux
OLE
HighSpeed
FPGA_ARTM
ForwardAnnotation
cdbback
*.tmp
*.old
*.bak
BackupDatabase
Layout_Temp
ProjectBackup 
Layout_Temp 
Work
Orpal
Template.prj
*.raw
si_cache







